anything==0.2.1
asgiref==3.11.1
attrs==26.1.0
autobahn==20.12.3
Automat==25.4.16
black==26.5.1
cffi==2.0.0
click==8.4.1
constantly==23.10.4
cryptography==48.0.0
Django==6.0.5
django-classy-tags==4.1.0
django-filter==25.2
django-sekizai==2.0.0
djangorestframework==3.16.1
evennia==6.0.0
hyperlink==21.0.0
idna==3.16
Incremental==24.11.0
inflect==7.5.0
inflection==0.5.1
isort==8.0.1
lunr==0.7.0.post1
mock==5.2.0
model-mommy==2.0.0
more-itertools==11.1.0
mypy_extensions==1.1.0
packaging==26.2
parameterized==0.9.0
pathspec==1.1.1
pip==26.1.1
platformdirs==4.9.6
psycopg2-binary==2.9.12
pycparser==3.0
pytokens==0.4.1
pytz==2026.2
PyYAML==6.0.3
simpleeval==1.0.3
sqlparse==0.5.5
Twisted==24.11.0
txaio==25.12.2
typeguard==4.5.2
typing_extensions==4.15.0
tzdata==2026.2
uritemplate==4.1.1
zope.interface==8.4
